using Desafio2.Database
using Desafio2.Models
@inject NavigationManager NavigationManager

<h3>Formulario de Venta</h3>

<EditForm Model="Venta" OnSubmit="CreateOrUpdateVenta" FormName="venta-form">
    <div class="form-group">
        <label for="id">
            ID
            <InputNumber type="number" class="form-control" id="id" @bind-Value="Venta.Id" />
        </label>
    </div>
    <div class="form-group">
        <label for="comentarios">
            Comentarios
            <InputText type="text" class="form-control" id="nombre" @bind-Value="Venta.Comentarios" />
        </label>
    </div>
    <div class="form-group">
        <label for="idUsuario">
            IdUsuario
            <InputNumber type="number" class="form-control" id="idUsuario" @bind-Value="Venta.IdUsuario" />
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>

@code {

    private VentaData? dataAccess;

    [Parameter]
    public Venta Venta { get; set; }

    protected override void OnInitialized()
    {
        dataAccess = new VentaData();
    }

    public void CreateOrUpdateVenta()
    {
        if (Venta.Id > 0)
        {

            dataAccess.ModificarVenta(Venta.Id, Venta);

        }
        else
        {
            dataAccess.CrearVenta(Venta);

        }

        NavigationManager.NavigateTo("/Venta");
    }
}